/************
* Allgemein *
*************/

body {
    background-color:#000000;
    color:#FFFFFF;
}

/*Container für Offiziersauswahl des schwarzen Spielers*/
div#meldung_s {
    margin:136px auto 0;  /*empirische Werte für die Optik (top right bottom left)*/
    height:100px;
	width:300px;
	padding-top:20px;
	background-color:#000000;
	color:#FFFFFF;
	text-align:center;
	display:none;
}

/*Container für Offiziersauswahl des weißen Spielers*/
div#meldung_w {
    margin:136px auto 0;  /*empirische Werte für die Optik (top right bottom left)*/
    height:100px;
	width:300px;
	padding-top:20px;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	display:none;
}

/*Schachbrett*/
div#brett {
    border:4px double #FFFFFF;
}

/*schwarze Schachfelder*/
div.schwarz {
    background-color:#000000;
}

/*weiße Schachfelder*/
div.weiss {
    background-color:#FFFFFF;
}


/**********
* Figuren *
**********/

/*schwarze Bauern*/
div.typb1 {
    background-image:url(../img/sw/bauer_s.png);
}

/*schwarze Springer*/
div.typs1 {
    background-image:url(../img/sw/springer_s.png);
}

/*schwarze Läufer*/
div.typl1 {
    background-image:url(../img/sw/laeufer_s.png);
}

/*schwarze Türme*/
div.typt1 {
    background-image:url(../img/sw/turm_s.png);
}

/*schwarze Damen*/
div.typd1 {
    background-image:url(../img/sw/dame_s.png);
}

/*schwarze Könige*/
div.typk1 {
    background-image:url(../img/sw/koenig_s.png);
}

/*weiße Bauern*/
div.typb0 {
    background-image:url(../img/sw/bauer_w.png);
}

/*weiße Springer*/
div.typs0 {
    background-image:url(../img/sw/springer_w.png);
}

/*weiße Läufer*/
div.typl0 {
    background-image:url(../img/sw/laeufer_w.png);
}

/*weiße Türme*/
div.typt0 {
    background-image:url(../img/sw/turm_w.png);
}

/*weiße Damen*/
div.typd0 {
    background-image:url(../img/sw/dame_w.png);
}

/*weiße Könige*/
div.typk0 {
    background-image:url(../img/sw/koenig_w.png);
}